.header {
    font-family: var(--font-roboto);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 64px;
    background-color: black;

    a {
        display: flex;
        align-items: center;
        gap: 8px;
        text-decoration: none;
    }

    h2 {
        color: white;
        margin: 0;
    }
}